@charset "utf-8";


body{
	font-family: hiragino-kaku-gothic-pron;
	font-weight: bold;
	font-size: 36px;
	color: rgb(156, 156, 156);
	white-space: nowrap;
}

.layer0{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

/* 右側（メイン画面）*/
#ScreenA #PlayerA_name{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 395px;
	left: 680px;
}
#ScreenA #text_gameEstimateA{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 395px;
	left: 950px;
}
#ScreenA #text_gameTitleA{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 540px;
	height: 36px;
	top: 455px;
	left: 680px;
}
#ScreenA #text_gameCategoryA{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 540px;
	height: 36px;
	top: 491px;
	left: 680px;
}

#ScreenB #PlayerB_name{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 395px;
	left: 1305px;
}
#ScreenB #text_gameEstimateB{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 395px;
	left: 1575px;
}
#ScreenB #text_gameTitleB{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 540px;
	height: 36px;
	top: 455px;
	left: 1305px;
}
#ScreenB #text_gameCategoryB{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 540px;
	height: 36px;
	top: 491px;
	left: 1305px;
}

#ScreenC #PlayerC_name{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 915px;
	left: 680px;
}
#ScreenC #text_gameEstimateC{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 915px;
	left: 950px;
}
#ScreenC #text_gameTitleC{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 540px;
	height: 36px;
	top: 975px;
	left: 680px;
}
#ScreenC #text_gameCategoryC{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 540px;
	height: 36px;
	top: 1011px;
	left: 680px;
}

#ScreenD #PlayerD_name{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 915px;
	left: 1305px;
}
#ScreenD #text_gameEstimateD{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 270px;
	height: 60px;
	top: 915px;
	left: 1575px;
}
#ScreenD #text_gameTitleD{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 540px;
	height: 36px;
	top: 975px;
	left: 1305px;
}
#ScreenD #text_gameCategoryD{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 540px;
	height: 36px;
	top: 1011px;
	left: 1305px;
}

/* 画面左側（非可動部分） */
#host{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 575px;
	height: 72px;
	top: 295px;
	left: 45px;
}

#ScreenA #PlayerA_name2{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	width: 205px;
	height: 72px;
	top: 400px;
	left: 75px;
}
#ScreenA #CommA_Name{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	font-size: 1em;
	width: 205px;
	height: 36px;
	top: 596px;
	left: 75px;
}

#ScreenB #PlayerB_name2{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	font-size: 1em;
	width: 205px;
	height: 72px;
	top: 400px;
	left: 385px;
}
#ScreenB #CommB_Name{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	font-size: 1em;
	width: 205px;
	height: 36px;
	top: 596px;
	left: 385px;
}

#ScreenC #PlayerC_name2{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	font-size: 1em;
	width: 205px;
	height: 72px;
	top: 655px;
	left: 75px;
}
#ScreenC #CommC_Name{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	font-size: 1em;
	width: 205px;
	height: 36px;
	top: 851px;
	left: 75px;
}

#ScreenD #PlayerD_name2{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	font-size: 1em;
	width: 205px;
	height: 72px;
	top: 655px;
	left: 385px;
}
#ScreenD #CommD_Name{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	font-size: 1em;
	width: 205px;
	height: 36px;
	top: 851px;
	left: 385px;
}

/* ブリンクするやつ */
/* PlayerA */
#ScreenA #Twitter_iconA{
	position:fixed;
	top: 465px;
	left: 72px;
	font-size: 120%;
	background-color: aqua;
}

#ScreenA #Twitch_iconA{
	position:fixed;
	top: 536px;
	left: 70px;
	background-color: aqua;
}

#ScreenA #niconico_iconA{
	position:fixed;
	top:481px;
	left: 70px;
	background-color: aqua;
}

#ScreenA #Youtube_iconA{
	position:fixed;
	top:536px;
	left: 70px;
	background-color: aqua;
}

#ScreenA #PlayerA_twitter{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 481px;
	left: 120px;
	background-color: blue;
}
#ScreenA #PlayerA_niconico{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 481px;
	left: 120px;
	background-color: blue;
}
#ScreenA #PlayerA_twitch{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 536px;
	left: 120px;
	background-color: blue;
}
#ScreenA #PlayerA_youtube{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 536px;
	left: 120px;
	background-color: blue;
}

/* PlayerB */
#ScreenB #Twitter_iconB{
	position:fixed;
	top:481px;
	left: 380px;
}

#ScreenB #Twitch_iconB{
	position:fixed;
	top: 536px;
	left: 380px;
}

#ScreenB #niconico_iconB{
	position:fixed;
	top:481px;
	left: 380px;
}

#ScreenB #Youtube_iconB{
	position:fixed;
	top:536px;
	left: 380px;
}

#ScreenB #PlayerB_twitter{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 481px;
	left: 425px;
}
#ScreenB #PlayerB_niconico{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 481px;
	left: 425px;
}
#ScreenB #PlayerB_twitch{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 536px;
	left: 425px;
}
#ScreenB #PlayerB_youtube{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 536px;
	left: 425px;
}


/* PlayerC */
#ScreenC #Twitter_iconC{
	position:fixed;
	top:738px;
	left: 70px;
}

#ScreenC #Twitch_iconC{
	position:fixed;
	top: 793px;
	left: 70px;
}

#ScreenC #niconico_iconC{
	position:fixed;
	top:738px;
	left: 70px;
}

#ScreenC #Youtube_iconC{
	position:fixed;
	top: 793px;
	left: 70px;
}

#ScreenC #PlayerC_twitter{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 738px;
	left: 120px;
}
#ScreenC #PlayerC_niconico{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 738px;
	left: 120px;
}
#ScreenC #PlayerC_twitch{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 793px;
	left: 120px;
}
#ScreenC #PlayerC_youtube{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 793px;
	left: 120px;
}

/* PlayerD */
#ScreenD #Twitter_iconD{
	position:fixed;
	top:738px;
	left: 380px;
}

#ScreenD #Twitch_iconD{
	position:fixed;
	top: 793px;
	left: 380px;
}

#ScreenD #niconico_iconD{
	position:fixed;
	top:738px;
	left: 380px;
}

#ScreenD #Youtube_iconD{
	position:fixed;
	top: 793px;
	left: 380px;
}
#ScreenD #PlayerD_twitter{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 738px;
	left: 425px;
}
#ScreenD #PlayerD_niconico{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 738px;
	left: 425px;
}
#ScreenD #PlayerD_twitch{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 793px;
	left: 425px;
}
#ScreenD #PlayerD_youtube{
	display:flex;
	position:fixed;
	justify-content:left;
	align-items:center;
	font-size: 1em;
	width: 170px;
	height: 36px;
	top: 793px;
	left: 425px;
}

/* 掲示板 */
#board{
	display:flex;
	position:fixed;
	justify-content:center;
	align-items:center;
	font-size: 1em;
	width: 575px;
	height: 123px;
	top: 920px;
	left: 45px;
	white-space: normal;
}